.primary {
  color: var(--text-color)
}

.error {
  color: var(--text-error-color);
}

.s {
  font: var(--font-s);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}

.bold {
  font-weight: bold;
}
