.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.button {
  padding: 6px 16px;
  color: var(--text-redesigned);
  display: flex;
  align-items: center;

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      color: var(--accent-redesigned);

      .addonLeft svg,
      .addonRight svg {
        color: var(--accent-redesigned);
      }
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddon {
  padding: 0 16px;
  gap: 8px
}

.clear {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.outline {
  border: 2px solid ;
  background: none;
  border-radius: 34px;

  &:hover {
    border: 2px solid var(--accent-redesigned);
  }

  &.normal {
    border-color: var(--icon-redesigned);
  } 
  
  &.success {
    border-color: var(--save-redesigned);

    &:hover {
      color: var(--save-redesigned);
      opacity: 0.8;
    }
  } 
  
  &.error {
    border-color: var(--cancel-redesigned);

    &:hover {
      color: var(--cancel-redesigned);
      opacity: 0.8;
    }
  }
}

.filled {
  border: none;
  outline: none;
  border-radius: 34px;

  &.normal {
    background-color: var(--light-bg-redesigned);
  } 
  
  &.success {
    background-color: var(--save-redesigned);
  } 
  
  &.error {
    background-color: var(--cancel-redesigned);
  }
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
