.button {
  padding: 10px 16px;
  color: var(--text-color);
  display: flex;
  align-items: center;


    &:hover {
      opacity: 0.8;
    }

  &:not(&:disabled) {
    cursor: pointer;
    
  }

  &:disabled {
    opacity: 0.5;
  }
}

.outline {
  border: 1px solid ;
  background: none;
  border-radius: 10px;
}

.big {
  max-width: 400px;
  width: 100%;
  justify-content: center;
}

.clear {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
