.mainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 3fr 7fr;
  max-width: 1600px;
  position: relative;
  padding: 20px 0;
  margin: 0 auto;
}

.sidebar {
  grid-area: sidebar;
  min-width: 300px;
  border-right: 1px solid var(--border-color);
  box-shadow: -15px 0px 15px 0px rgba(138, 138, 138, 0.15);
}

.content {
  grid-area: content;
  max-width: 1200px;
  width: 100%;
  justify-self: center;
  background-color: var(--bg-light-color);
}

.sidebar,
.content {
  height: calc(100vh - 40px);
}
